# .gitignore

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore local environment files
venv/
*.env

# Ignore deck files
*.json

# Ignore image caching
image_cache/*

# Ignore user data
user_data/*